In [149]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import re

In [211]:
#remove parentheses and string between parentheses
def remove_nested_parens(input_str):
    """Returns a copy of 'input_str' with any parenthesized text removed. Nested parentheses are handled."""
    result = ''
    paren_level = 0
    for ch in input_str:
        if ch == '(':
            paren_level += 1
        elif (ch == ')') and paren_level:
            paren_level -= 1
        elif not paren_level:
            result += ch
    return result

In [258]:
# Mutiple datasets that contain major news organization Youtube channels USA
df_news1 = pd.read_csv('./datasets/English news organisations/data_english_newsorgs.csv', engine ='python', sep ='\;')
df_news1['Publisher'] = df_news1['Publisher'].apply(remove_nested_parens)
df_news1 = df_news1['Publisher']
type(df_news1)

pandas.core.series.Series

In [259]:
df_news2 = pd.read_csv('./datasets/English news organisations/news papers usa.csv', engine ='python', sep ='\;')
df_news2['Newspaper'] = df_news2['Newspaper'].apply(remove_nested_parens)
df_news2 = df_news2['Newspaper']

In [332]:
df_news3 = pd.read_csv('./datasets/English news organisations/indian media.csv', engine ='python', sep ='\;')
df_news3 = df_news3['Indian media']
df_news3.head(30)

0                      The Hindu
1             The Economic Times
2                  Mumbai Mirror
3                  The Telegraph
4             The Indian Express
5         The New Indian Express
6               Deccan Chronicle
7                        Mid-Day
8                           Mint
9                    India Today
10       General Knowledge Today
11                 The Sportstar
12         Diamond Cricket Today
13                      Filmfare
14            Pratiyogita Darpan
15                       Outlook
16                      The Week
17                          Time
18    Competition Success Review
19            The Times of India
Name: Indian media, dtype: object

In [261]:
df_news4 = pd.read_csv('./datasets/English news organisations/usa media.csv', engine ='python', sep ='\;')
df_news4 = df_news4['Media channels']

In [262]:
df_news5 = pd.read_csv('./datasets/English news organisations/canadian media2.csv', engine ='python', sep ='\;')
df_news5 = df_news5['Canadian media']

In [308]:
# make one list of mainstream news organizations
df_news = pd.DataFrame(df_news1.append([df_news2, df_news3, df_news4, df_news5], 
                  ignore_index = True))
df_news.drop_duplicates()
df_news.rename(columns = {0:'mainstream news organizations'}, inplace = True)

<ipython-input-308-202ddc6b9fe8>:2: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_news = pd.DataFrame(df_news1.append([df_news2, df_news3, df_news4, df_news5],

In [330]:
# make a copy to make the list upper case'
temp1 = df_news.copy()
temp1['mainstream news organizations'] = temp1['mainstream news organizations'].str.upper()
temp1.head(30)

   mainstream news organizations
0                            CNN
1                      ABC NEWS
2                       BBC NEWS
3                       FOX NEWS
4                     AL JAZEERA
5                      VICE NEWS
6                       NBC NEWS
7                           WION
8                       SKY NEWS
9                          MSNBC
10                      CBS NEWS
11                            DW
12                   GLOBAL NEWS
13                  PBS NEWSHOUR
14                      CBC NEWS
15                       THE SUN
16                 THE TELEGRAPH
17                  THE GUARDIAN
18            SKY NEWS AUSTRALIA
19                       COMPLEX
20              VOICE OF AMERICA
21                      EURONEWS
22               CNBC TELEVISION
23                CHANNEL 4 NEWS
24                 NOW THIS NEWS
25                    DAILY MAIL
26                     ABC NEWS
27                     SABC NEWS
28              CBS EVENING NEWS
29               AFP NEWS AGENCY

In [255]:
# Channels data set
df_channels = pd.read_csv('./datasets/df_channels_en.tsv', compression="infer", sep="\t")
df_channels.head()

,category_cc,join_date,channel,name_cc,subscribers_cc,videos_cc,subscriber_rank_sb,weights
0,Gaming,2010-04-29,UC-lHJZR3Gqxm24_Vd_AJ5Yw,PewDiePie,101000000,3956,3.0,2.087
1,Education,2006-09-01,UCbCmjCuTUZos6Inko4u57UQ,Cocomelon - Nursery ...,60100000,458,7.0,2.087
2,Entertainment,2006-09-20,UCpEhnqL0y41EpW2TvWAHD7Q,SET India,56018869,32661,8.0,2.087
3,Howto & Style,2016-11-15,UC295-Dw_tDNtZXFeAPAW6Aw,5-Minute Crafts,60600000,3591,9.0,2.087
4,Sports,2007-05-11,UCJ5v_MCY6GNUBTO8-D3XoAg,WWE,48400000,43421,11.0,2.087

In [100]:
# Keep channels that are in the category 'News & Politics'
df_filtered_channels = df_channels[( df_channels['category_cc']=='News & Politics')]

In [319]:
# make a copy to make the column 'name_cc' upper case
temp2 = df_filtered_channels.copy()

temp2['name_cc'] = temp2['name_cc'].str.upper()

temp2.head()

,category_cc,join_date,channel,name_cc,subscribers_cc,videos_cc,subscriber_rank_sb,weights,creator_type
129,News & Politics,2006-08-26,UCttspZesZIDEwwpVIgoZtWQ,INDIATV,15177282,139814,199.0,2.087,independent creator
133,News & Politics,2012-06-01,UCRWFSbif-RFENbBrSiez1DA,ABP NEWS,16274836,129027,207.0,2.087,independent creator
212,News & Politics,2017-03-03,UCmphdqZNmqL72WJ2uyiNw5w,ABP NEWS HINDI,10800000,51298,340.0,2.087,independent creator
268,News & Politics,2015-03-23,UCx8Z14PpntdaxCt2hakbQLQ,THE LALLANTOP,9120000,9423,438.0,2.087,independent creator
337,News & Politics,2007-06-19,UCIvaYmXn910QMdemBG3v1pQ,ZEE NEWS,9280000,102648,549.0,2.087,independent creator

In [325]:
# Create a DataFrame that only contains major new organizations data
df_filtered_news_org = temp2[temp2['name_cc'].isin(temp1['mainstream news organizations'])]
df_filtered_news_org['creator_type'] = "news organization"
df_filtered_news_org.head()

<ipython-input-325-00b394d66de1>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_news_org['creator_type'] = "news organization"

,category_cc,join_date,channel,name_cc,subscribers_cc,videos_cc,subscriber_rank_sb,weights,creator_type
425,News & Politics,2005-10-02,UCupvZG-5ko_eiXAupbDfxWw,CNN,7500000,146299,720.0,2.0870,news organization
527,News & Politics,2014-03-04,UCLXo7UDZvByw2ixzpQCufnA,VOX,6570000,1048,924.0,2.0870,news organization
806,News & Politics,2006-04-08,UC16niRr50-MSBwiO3YDb3RA,BBC NEWS,5190000,10459,1531.0,2.0870,news organization
919,News & Politics,2013-11-20,UCZaT_X_mc0BI-djXOlfhqWQ,VICE NEWS,4630000,4219,1770.0,2.0870,news organization
1028,News & Politics,2005-12-21,UC1yBKRuGpC1tSM73A0ZjYjQ,THE YOUNG TURKS,4470000,37847,1995.0,2.0995,news organization

In [327]:
# Create a DataFrame that contains the rest(independent content creators)
df_filtered_news_ind = temp2[~temp2['name_cc'].isin(temp1['mainstream news organizations'])]
df_filtered_news_ind['creator_type'] = "independent"

<ipython-input-327-416b1f8f220c>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered_news_ind['creator_type'] = "independent"

In [328]:
frames = [df_filtered_news_org, df_filtered_news_ind]

In [329]:
df_filter_news_merge = pd.concat(frames)
df_filter_news_merge.head()

,category_cc,join_date,channel,name_cc,subscribers_cc,videos_cc,subscriber_rank_sb,weights,creator_type
129,News & Politics,2006-08-26,UCttspZesZIDEwwpVIgoZtWQ,IndiaTV,15177282,139814,199.0,2.087,independent creator
133,News & Politics,2012-06-01,UCRWFSbif-RFENbBrSiez1DA,ABP NEWS,16274836,129027,207.0,2.087,independent creator
212,News & Politics,2017-03-03,UCmphdqZNmqL72WJ2uyiNw5w,ABP NEWS HINDI,10800000,51298,340.0,2.087,independent creator
268,News & Politics,2015-03-23,UCx8Z14PpntdaxCt2hakbQLQ,The Lallantop,9120000,9423,438.0,2.087,independent creator
337,News & Politics,2007-06-19,UCIvaYmXn910QMdemBG3v1pQ,Zee News,9280000,102648,549.0,2.087,independent creator